<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- h1.title{Home} -->
  <h1 class="title">Home</h1>

  <!-- nav.menu-pricipal>ul>li.item*3>a{$ - } -->
  <nav class="menu-principal">
    <ul>
      <li class="item"><a href="">1 - Fotos</a></li>
      <li class="item"><a href="">2 - Sobre</a></li>
      <li class="item"><a href="">3 - Contato</a></li>
    </ul>
  </nav>
</body>
</html>